skeleton/*
pleac_*/*.html
tmp.*
jade-*
*.bkp


index.html
pleac_R.html
pleac_ada.html
pleac_bash.html
pleac_c++.html
pleac_clojure.html
pleac_coffeescript.html
pleac_commonlisp.html
pleac_cposix.html
pleac_erlang.html
pleac_factor.html
pleac_forth.html
pleac_go.html
pleac_groovy.html
pleac_guile.html
pleac_haskell-on-steroids.html
pleac_haskell.html
pleac_java.html
pleac_masd.html
pleac_merd.html
pleac_nasm.html
pleac_objective-c.html
pleac_ocaml.html
pleac_perl.html
pleac_php.html
pleac_picolisp.html
pleac_pike.html
pleac_pliant.html
pleac_python.html
pleac_rexx.html
pleac_ruby.html
pleac_smalltalk.html
pleac_tcl.html
